<div>
    <%= form_builder.label :name %>
    <%= form_builder.text_field :name %><br><br>

    <%= form_builder.label :location %>
    <%= form_builder.text_field :location %><br><br>

    <%= form_builder.label :year_established %>
    <%= form_builder.number_field :year_established %><br><br>
</div>



