<%= render partial: "brewery" %>
<br>
<br>
<hr>
    <h4><%= @brewery.name %>'s Beers</h4>
        <% @brewery.beers.each do |beer| %>
            <li><%= beer.name %></li>
        <% end %>
        <br>
         <%= link_to "Add a Beer", new_brewery_beer_path(@brewery.id) %>
<br>
<hr>
    
<br>
    <%= link_to "Add a Comment", new_brewery_comment_path(@brewery.id) %>
