<h1>Add a New Beer</h1>
<%= render partial: "breweries/errors", locals: {object: @beer} %>
<br>
<div>
    <%= form_with(model: @beer) do |f| %>
        <%= render partial: "form", locals: {form_builder: f} %> 
        <%= f.submit %>
    <% end %>
</div>

<br>
<%= link_to "Go Back", :back %>